@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Crimson Text", serif;

  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  justify-content: center;
}

article {
  max-width: 43em;
  padding: 1rem;
}

article h1 {
  font-weight: normal;
  line-height: .5rem;
}

article header {
  margin-bottom: .25rem;
  padding-bottom: .15rem;
  border-bottom: 1px solid #999;
}

article p {
  font-size: 1rem;
  line-height: 1.3rem;
  padding: .2rem 0;
}

article header p {
  padding-bottom: .5rem;
  font-style: italic;
  line-height: 0;
}

article > p:last-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
}

blockquote {
  padding: 0;
  margin: 0;
  color: #555;
}

blockquote p {
  font-size: 1.125rem;
}

article ol {
  margin: 0;
  padding: 0 1rem;
  line-height: 1.3rem;
}

.quote {
  color: #999;
}

@media only screen and (min-width: 25em) {

  article {
    max-width: 43em;
    padding: 0 1rem;
  }

  article h1 {
    font-weight: normal;
    line-height: .5rem;
  }

  article header {
    margin-bottom: .25rem;
    padding-bottom: .15rem;
    border-bottom: 1px solid #999;
  }

  article p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: .2rem 0;
  }

  article header p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: .2rem 0;
  }

  article > p:last-child {
    padding-bottom: 1rem;
    border-bottom: 1px solid #999;
  }

  blockquote {
    color: #555;
    font-size: 1.125rem;
  }

  blockquote p {
    font-size: 1.125rem;
  }

  .quote {
    color: #999;
  }

}

@media only screen and (min-width: 38em) {

  article {
    max-width: 43em;
    padding: 0 1rem;
  }

  article h1 {
    font-weight: normal;
  }

  article header {
    border-bottom: 1px solid #999;
  }

  article p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: .2rem 0;
  }

  article header p {
    font-style: italic;
  }

  article > p:last-child {
    border-bottom: 1px solid #999;
  }

  blockquote {
    color: #555;
    font-size: 1.125rem;
  }

  blockquote p {
    font-size: 1.125rem;
  }

  .quote {
    color: #999;
    width: 100%;
  }

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 60em) {

  article {
    max-width: 43em;
    padding: 1.5rem 1rem;
  }

  article h1 {
    font-weight: normal;
    line-height: 1rem;
  }

  article header {
    margin-bottom: .25rem;
    padding-bottom: .35rem;
    border-bottom: 1px solid #999;
  }

  article p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .2rem 0;
  }

  article header p {
    padding-bottom: .5rem;
    font-style: italic;
    line-height: 0;
  }

  article > p:last-child {
    padding-bottom: 1rem;
    border-bottom: 1px solid #999;
  }
  blockquote {
    padding: 0;
    margin: 0 5rem;
    max-width: 24em;
    color: #555;
    font-size: 1.5rem;
  }

  blockquote p {
    font-size: 1.125rem;
  }

  .quote {
    color: #999;
  }

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {

  article {
    max-width: 43em;
    padding: 2rem 1rem;
  }

  article h1 {
    font-weight: normal;
  }

  article header {
    border-bottom: 1px solid #999;
  }

  article p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .2rem 0;
  }

  article header p {
    font-style: italic;
  }

  article > p:last-child {
    border-bottom: 1px solid #999;
  }

  blockquote {
    max-width: 24em;
    color: #555;
    font-size: 1.5rem;
  }

  blockquote p {
    font-size: 1.125rem;
  }

  .quote {
    color: #999;
  }

  html {
    font-size: 130%;
  }

}
